body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
    color: #333333;
}

header {
    background-color: #337ab7; 
    color: #ffffff;
    padding: 10px 0;
    text-align: center;
}

.menu ul {
    background-color: #337ab7;
    overflow: hidden;
    color: #ffffff;
    padding: 0;
    text-align: center;
    margin: 0;
}

.menu li {
    display: inline-block;
    color: #ffffff;
    padding: 14px 16px;
    text-decoration: none;
}

.menu li a {
    color: #ffffff;
    padding: 14px 16px;
    text-decoration: none;
}

.menu li a:hover {
    background-color: #286090; 
}


.div-conteudo {
    margin: 10px;
    background-color: #ffffff; 
    border-radius: 15px;
    padding: 10px;
}

.div-conteudo img {
    margin: 0 auto; 
    display: block;
}
form {
    margin: 20px auto;
    width: 50%;
    background-color: #f9f9f9;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    height: 280px; 
}

form label {
    display: block;
    margin-bottom: 5px;
    color: #333333;
    font-weight: bold;
}

form input[type="text"], form select {
    display: block;
    padding: 10px;
    margin-bottom: 15px;
    width: 80%; 
    border-radius: 5px;
    border: 3px solid #337ab7;
    background-color: #f1f1f1;
}

form input[type="submit"] {
    padding: 10px;
    color: #ffffff;
    background-color: #337ab7;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
}

form input[type="submit"]:hover {
    background-color: #286090;
}

#result {
    font-size: 16px;
    width: 30%;
    font-weight: bold;
    color: #337ab7;
    margin-top: 20px;
    padding: 8px;
    border: 2px solid #337ab7;
    border-radius: 5px;
    display: inline-block;
}

#result::after {
    margin-left: 10px;
}

#result::before {
    content: "Resultado:";
    font-weight: normal;
    color: #333333;
    margin-right: 10px;
}

footer {
    background-color: #337ab7; 
    color: #ffffff;
    text-align: center;
    padding: 10px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}